html, body { 
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding:2em;
    background-color:#eee;
    color:#777;
}

h3 {
    position: absolute;
    left: 370px;
    top:20px;
	font-weight: bold;
	font-size:30px
}



#enplanementButton {
    position: absolute;
    top: 700px;
    left: 250px;
    font-size: 16px;
}

/* style the topoJson elements */
path {
    stroke-linejoin: round;
}

.land { 
    fill: #ccc;
}

.states {
    fill: none;
    stroke: #fff;
}

/* style the tooltips */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #ccc;
    border-radius: 2px;
}